{% extends 'default.html.twig' %}
{% block title %}Авторизация{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="login-page">
        <div class="form">
            <form class="register-form" action="/TaskManager/register" method="post">
                <input type="text"  name="username" placeholder="Login"/>
                <input type="password"  name="password" placeholder="Password"/>
                <input type="email" name="email" placeholder="Email adress"/>
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form" action="/TaskManager/login_user" method="post">
                <input type="text" name="username" placeholder="username"/>
                <input type="password" name="password" placeholder="password"/>
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>

    <script>
        $('.message a').click(function () {
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });    </script>

    {% for comment in comments %}
        {{ include('comment.html.twig') }}
    {% endfor %}

{% endblock %}
