{% extends 'default.html.twig' %}
{% block title %}Задачи{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}


    {% for task in tasks %}
        <li>{{ task.id }}</li>
    {% else %}
        no users
    {% endfor %}

    <div>
        <br>
        <h4>Сортировка</h4>
        <p>
            Email:
            <a href="/ascemail">по возрастанию</a>, <a href="/descemail">по убыванию</a><br>
            Дате:
            <a href="/ascdate">по возрастанию</a>, <a href="/descdate">по убыванию</a><br>
            Статусу
            <a href="/ascdate">открыт</a>, <a href="/descdate">закрыт</a>
        </p>
    </div>

{% endblock %}
