<!DOCTYPE html>
<html lang="ru">

<head>

    {% block head %}

        <title>
            {% block title %}{% endblock %}
        </title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
              integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

        <link rel="stylesheet" href="vendor/bower-asset/bootstrapvalidator/dist/css/bootstrapValidator.min.css"/>
        <link rel="stylesheet" href="vendor/bower-asset/components-font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="vendor/twbs/bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="vendor/twbs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="public/css/heroic-features.css" >
        <link rel="stylesheet" type="text/css" href="public/css/style.css">

        <script type="text/javascript" src="vendor/bower-asset/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>
        <script type="text/javascript" src="vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="vendor/components/jquery/jquery.js"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
                crossorigin="anonymous"></script>

        <link rel="shortcut icon" href="public/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="public/img/favicon.ico" type="image/x-icon">

    {% endblock %}

</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if cook['user'] != false %}
            <a class="navbar-brand" href="#">Hello {{ cook['user'] }}</a>
            {% else %}
                <a class="navbar-brand" href="#">TaskManager</a>
            {% endif %}
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/TaskManager/">Home</a></li>
            <li><a href="/TaskManager/create_form">Create</a></li>
            <li><a href="/TaskManager/Metagram">Metagram</a></li>
            <li><a href="/TaskManager/dayside/index.php">Dayside</a></li>
        </ul>

        {% if cook['user'] != false %}
            <form action="/TaskManager/logout">
                <button class="btn btn-danger navbar-btn pull-right">Logout</button>
            </form>
        {% else %}
            <form action="/TaskManager/login">
                <button class="btn btn-success navbar-btn pull-right">Login</button>
            </form>
        {% endif %}
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>

</html>
